@import "../../globals"

.menu
  position: fixed
  height: 100%
  width: 14rem
  background-color: $base-back-inv
  color: $base-color-inv
  display: flex
  align-items: center
  flex-direction: column
  padding: 1rem
  font-family: Verdana, Geneva, Tahoma, sans-serif
  z-index: 2