@import "./_globals"
  
.budget-overview
  padding: 1rem 0rem

  &-header
    font-size: 1.75rem
    flex-basis: 100%
    border-bottom: 1px solid $base-div
    padding-bottom: 0.25rem
    margin-bottom: 20px

  &-table
    overflow-x: auto
    width: 100%

  &-graph
    height: 500px
    margin-top: 20px