$base-back: rgb(233, 233, 233)
$base-back-hov: rgb(25, 79, 129)
$base-back-inv: rgb(19, 60, 99)
$base-color: rgb(0, 0, 0)
$base-color-inv: rgb(255, 255, 255)
$shadow-color: rgba(0, 0, 0, 0.5)
$positive: rgb(231, 255, 224)
$negative: rgb(255, 225, 225)
$med-shadow: 0px 2px 4px 2px $shadow-color
$trans: all 200ms